<% layout('layout/boilerplate.ejs') %>

<div class="signup">
    <form action="/login" method="post">
        <div class="mb-3">
            <label for="Username" class="form-label">Username</label>
            <input type="text" class="form-control" id="Username" aria-describedby="emailHelp" name="username">
           </div>
        
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="text" class="form-control" id="exampleInputPassword1" name="password">
        </div>
         
        <button type="submit" class="btn btn-primary">Signup</button>
      </form>
</div>