.container{
    border: 4px solid grey;
    text-align: center;
    display: none;
}

@media  (max-width:400px) {
    .container4{
        display: block;
    }
}

@media (min-width:401px) and (max-width:700px){
    .container3{
        display: block;
    }
}

@media (min-width:701px) and (max-width:900px){
    .container2{
        display: block;
    }
}