<% layout('layout/boilerplate.ejs') %>

<div class="signup">
    <form action="/signup" method="post">
        <div class="mb-3">
            <label for="Username" class="form-label">Username</label>
            <input type="text" class="form-control" id="Username" aria-describedby="emailHelp" name="username">
           </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email">
         </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="text" class="form-control" id="exampleInputPassword1" name="password">
        </div>
        <div class="mb-3">
            Role
            <select class="form-select" aria-label="Default select example" name="role">
                <option selected value="Buyer">Buyer</option>
                <option value="Seller">Seller</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Signup</button>
      </form>
</div>