<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/product/new">Add new product</a>
          </li> 
        </ul>
        <div class="d-flex" style="border: 1px solid red;">
          <%if(true){%>
            <a class="nav-link ms-3" href="/logout">logout</a>
         <% } else{ %>
            <a class="nav-link ms-3" href="/signup">Signup</a>
           <a class="nav-link ms-3" href="/login">Login</a>
         <% } %>
          
        </div>
      </div>
    </div>
  </nav>