<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>todos</h1>
    
    <%for(let todo of todos){%>
        <p><%=todo%></p>
    <%}%>

</body>
</html>