.todo{
    display: flex;
    border: 1px solid red;
    align-items: center;
    justify-content: space-between;
}
.list{
    display: flex;
}

.container{
    width: 300px;
    border: 2px solid black;
    margin: auto;
    text-align: center;
}

.test{
    text-decoration: line-through;
}